:root{
    --title-color: #322153;
    --fullbackground-color: #F0F0FA; 
    --primary-color: #34cb79;
}
*{
    padding: 0;
    margin: 0;
}
html {
    font-family: 'Roboto', sans-serif;
}
/* BOX MODEL */

p,h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

body{
    -webkit-font-smoothing: antialiased;
    background-color: var(--fullbackground-color);
}

a {
    text-decoration: none;
}





/*--@media é importante para se aplicar regras de posicionamento de acordo com a largura maxima--*/